extends ./layout.pug
block content
    div.container.p-5
        form(method="POST" action="/signup")
            div(class="form-group")
                label(for="exampleFormControlInput1") First name        
                div(class="col")
                input(type="text" class="form-control" name="firstName" placeholder="First name")
            
                label Last Name
                div(class="col").p-1
                input(type="text" class="form-control" name="lastName" placeholder="Last name")
            
            div(class="form-group")
                label(for="exampleFormControlInput2") Username
                input(type="username" class="form-control" id="userInput" name="username" placeholder="Username")
            
            div(class="form-group")
                label(for="exampleFormControlInput2") Email
                input(type="username" class="form-control" id="userInput" name="email" placeholder="Email")
        
            div(class="form-group")
                label(for="exampleInputPassword1") Password
                input(type="password" class="form-control" id="InputPassword" name="password" placeholder="Password")

            div(class="form-group")
                label(for="exampleFormControlSelect1") Role
                select(class="form-control" name="role" id="exampleFormControlSelect1")
                    option(value="Regular") Regular User 
                    option(value="Email-Subscribed") Email Subscribed 
                    option(value="Fesiness-User") Fesiness User   
            
            div(class="form-group")
                label(for="exampleFormControlTextarea1") Description
                textarea(class="form-control" name="description" id="exampleFormControlTextarea1" rows="3")
            button(type="submit" class="btn btn-primary d-block mx-auto my-5") Submit
